.hero {
  text-align: center;
  font-weight: 600;
}

.image {
  max-height: 430px;
}

.episodes {
  color: gray;
  font-size: 12px;
  margin-top: 15px;
}

.title {
  color: black;
  font-size: 15px;
  margin-top: 15px;
}
