@import './constants';

.hero {
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
}

.image {
  max-height: 430px;
}

.episodes {
  color: $color-text-gray;
  font-size: 12px;
  margin-top: 15px;
}

.title {
  color: $color-black;
  font-size: 18px;
  margin-top: 15px;
}
